$primary: #00c2c9;
$secondary: #111;

// use scss vars as value
:root {
  --color-primary: #{$primary};
  --color-secondary: #{$secondary};
}

body {
  * {
    font-family: Montserrat;
  }
}

.h1c {
  @apply text-[48px] font-bold;
}

.h2c {
  @apply text-3xl font-bold;
}

p {
  @apply text-xl font-light leading-8;
}

.center {
  @apply flex justify-center items-center;
}
